body{
  background: #141414;
  color: #fff;
  box-sizing: border-box;
}

.styles-movie{
  width: 30%;
  margin: 20px;
  padding: 20px;
}
.styles-movie:hover{
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset; 
}

.image-container{
  position: relative;
  transition: transform .2s;
}
.image-container :hover{
  cursor: pointer;
  transform:scale(1.1);
}

.overlay{
  position: absolute;
  background: rgba(0, 0, 0, .8);
  width: 100%;
  transition:.5s ease;
  opacity: 0;
  bottom: 0;
}

@media only screen and (max-width:1100px){
  
  .styles-movie{
    width: 40%;
  }
}

@media only screen and (max-width:450px){
  
  .styles-movie{
    width: 90%;
    margin: 20px;
  }
}
